/* .App {
  text-align: center;
} */

:root {
  --title-color: orangered; 
  --primary-background: #c9effafa;
  --paper-bg: #000000e7;
  --text-color: rgb(14, 14, 14);
 
} 

body {
  background-color: black;
}

@media (prefers-reduced-motion: reduce) {
  .career {
    animation: 5s anim-careers ease-in-out infinite;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


 .profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
.App-header {
  background-color: var(--paper-bg);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  /* position: sticky; */
  align-items: flex-end;
  justify-content: center;
  text-transform: uppercase;

  opacity: 0.8;
 
 
  /* box-shadow: rgba(255, 124, 2, 0.2) 0px 2px 8px 0px; */
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  font-weight: 700;
}


ul {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  
}

li {
  list-style-type: square;
  
}
.topsection {
  display: flex;
  flex-direction: row;
  background-color: var(--paper-bg); 
  opacity: 0.8;
  padding-top: 2.5em;
  color: var(--text-color);
  height: 50vh;
  width: 80vw;

} 
.content-topsection {
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
}
.career {
  color: var(--title-color);
  text-transform: uppercase;
  animation: 3s anim-careers ease-in-out infinite;
}

.side-topsection {
  min-width: 50vw;
  height: 95%;
  /* background-color: #181818be; */
  box-shadow: rgba(255, 82, 2, 0.541) 0px 2px 8px 0px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: calc(60% + 7em);  
}
.profile {
  display: flex;
  flex-direction: column;
  
  margin: 2em;
  
  animation: 2s anim-careers ease ;
}
.about {
 text-align: center;
 max-width: 80vw;
 
}
.about > h3 {
  text-transform: uppercase;
 
} 
.skills {  
  background-color: rgba(231, 231, 231, 0.137);
}
.skills > ul {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;

}
@keyframes anim-careers {
 0% {
  opacity: 0;
  transform: translateY(80%);
 }
 50% {
  opacity: 0.5;
  transform: translateY(0%);
 }
 100% {
  opacity: 1;
  transform: translateY(0%);
 }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
