
:root {
  --title-color: orangered; 
  --primary-background: #c9effafa;
  --paper-bg: #fafafae7;
  --text-color: #151515;
  --form-text-color: rgb(250, 0, 104);  
 
} 

body {
  /* background-color: #151515; */
  color: var(--text-color);

  font-family: 'Arial', sans-serif;
  
}

@media (prefers-reduced-motion: reduce) {
  .career {
    animation: 20s anim-careers ease-in-out infinite;
  }
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


#p {
  fill: rgb(0, 0, 0);
  /* fill-opacity: 0.2; */
  stroke: white;
  stroke-width: 0.7px;
  stroke-dasharray: 400 188.5;
  animation: stroke-color 11s infinite linear;
}
#p .wrapper, #p use {
  animation: draw 4s infinite linear;  
}
/* #p use:nth-child(3){
  fill: white;
  fill-opacity: 0.1;
  animation-delay: -2s;
} */

@keyframes draw {
  from {
    stroke-dashoffset: 388.5;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes stroke-color {
  0%      {stroke: hsl(187, 98%, 48%);}
  16.667% {stroke: hsl(0, 0%, 8%);}
  33.333% {stroke: hsl(120, 2%, 18%);}
  50%     {stroke: hsl(180, 13%, 95%);}
  66.667% {stroke: hsl(187, 93%, 62%);}
  83.333% {stroke: hsl(0, 0%, 3%);}
  100%    {stroke: hsl(0, 2%, 8%);}
}

#project-form {
  width: 80vw;
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding: 0.9em;
}



#project-form > input {
  height: 3em;
}
#navbar {
  background-color: var(--text-color);
  color: var(--paper-bg);
  
}
#project-btn {
  width: 2em;
  text-transform: uppercase;
}

#navbar > li{
  list-style-type: none;
}
 .profile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .contact-form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9em;
  text-align: left;
 }

  #send-button {
    width: 15%;
    height: 2em;
    color: black;
    font-weight: 700;
    background-color: rgb(255, 124, 2); 
		text-transform: uppercase;
    border-radius: 4px;
  }

 .contact-form > input, .contact-form > textarea, #project-form > input {
  width: 60%;
  background-color: transparent;
  
  color: white;
  border: none;
  box-shadow: 
		0 1px 3px rgba(255, 103, 2, 0.945), 
		0 1px 2px rgba(0,0,0,0.24);
  color: var(--form-text-color);  
 }

 #subject {
  height: 3em;
 }

 #context {
  height: 14em;
 }
.App-header {
  background-color: var(--text-color);
  min-height: 10vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  /* position: sticky; */
  align-items: flex-end;
  justify-content: center;
  text-transform: uppercase;

  
 
 
  /* box-shadow: rgba(255, 124, 2, 0.2) 0px 2px 8px 0px; */
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  font-weight: 700;
}


ul {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  
}

li {
  list-style-type: square;
  
}
.topsection {
  display: flex;
  flex-direction: row;
  background-color: var(--text-color); 
  /* opacity: 0.8; */
  padding-top: 2.5em;
  color: var(--paper-bg);
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  

} 
.content-topsection {
  /* flex-grow: 1; */
  text-align: center;
  font-size: 2.4rem;
  width: 60vw;

}
.career {
  /* color: var(--title-color); */
  text-transform: uppercase;
  
}

.side-topsection {
  min-width: 30vw;
  height: 55%;
  /* background-color: #181818be; */
  box-shadow: rgba(2, 255, 221, 0.849) 0px 2px 8px 0px;
  /* position: absolute;
  transform: translate(-50%, -50%); */
  border-radius: calc(60% + 7em);  
  /* animation: back-color 40s infinite linear; */
  position: relative;
}

.side-topsection > img{
   width: 70%;
   height: 70%;
   position: absolute;
   bottom: 0;
   left: 15%;
  
}

svg {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;
  display: block;
}

.profile {
  display: flex;
  flex-direction: column;
  
  margin: 2em;
  
  animation: 2s anim-careers ease ;
}
.about {
 text-align: center;
 max-width: 70vw;
 
}
.about > h3 {
  text-transform: uppercase;
 
} 
.skills {  
  background-color: rgb(78, 78, 78);
  width: 60vw;
  color: aliceblue;
}
.skills > ul {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;

}
@keyframes anim-careers {
 0% {
  opacity: 0;
  transform: translateY(80%);
 }
 50% {
  opacity: 0.5;
  transform: translateY(0%);
 }
 100% {
  opacity: 1;
  transform: translateY(0%);
 }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
