  :root {
	--white: #F7F1E1;
  --cream: #F6E6CB;
  --dcream: #EACEA3;
  --beige: #CDAD93;
  --terracotta: #B9816D;
  --dterracotta: #885444;
  --peach: #E5AE8A;
  --orange: #BF835A;
  --green: #4B5243;
  --dgreen: #2C3834;
  --mono: 'source-code-pro';
  --display: 'lust-sans';
  }
  .minip {
	width: 300px;
	height: 450px;
	margin: auto;
	background: var(--white);
	position: relative;
	box-shadow: 0px 0px 5px var(--terracotta);
  }
  
  .minip .mg {
	width: 100%;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	display: grid;
	grid-template-columns: 250px 50px;
	grid-template-rows: 100px 150px;
	grid-template-areas: 
	  'clr group'
	  'clr .....';
	transition:
	  grid-template-columns .6s linear,
	  grid-template-rows .6s linear;
  }
  .minip:hover .mg {
	grid-template-columns: 150px 150px;
	grid-template-rows: 50px 300px;
	transition:
	  grid-template-columns .6s linear,
	  grid-template-rows .6s linear;
  }
  .minip .mg .clr {
	grid-area: clr;
	background: var(--green);
  }
  .minip .mg .group {
	font: 10px/10px var(--mono);
	text-transform: uppercase;
	letter-spacing: 1px;
	writing-mode: vertical-lr;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .minip .mg .group span {
	display: block;
	transform: rotate(180deg);
	transition:
	  transform .6s linear;
  }
  .minip:hover .mg .group span {
	transform: rotate(270deg);
	transition:
	  transform .6s linear;
  }

 
  
  .minip .av {
	width: 200px;
	height: 350px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	background: url('./ecomlogo.png');
	background-position: top center;
	background-size: cover;
	transition:
	  width .6s linear,
	  height .6s linear;
  }
  .minip:hover .av {
	width: 250px;
	height: 400px;
	transition:
	  width .6s linear,
	  height .6s linear;
  }
  
  .minip .info {
	width: 160px;
	max-height: 100px;
	padding: 25px;
	position: absolute;
	bottom: 100px;
	left: 0px;
	background: var(--peach);
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: flex-start;
	transition: 
	  bottom .6s linear;
  }
  .minip:hover .info {
	bottom: 50px;
	transition:
	  bottom .6s linear;
  }
  .minip .info name {
	display: block;
	font: 200 25px/30px var(--display);
	text-indent: -25px;
	letter-spacing: 1px;
	margin: 0px 0px 10px 25px;
  }
  .minip .info deets {
	font: 10px/15px var(--mono);
	text-transform: uppercase;
	letter-spacing: 1px;
  }
  #info {
	background-image: url('./ecomlogo.png');
	background-size: contain;
  }
  
  .minip a.plot {
	width: 110px;
	height: 30px;
	position: absolute;
	bottom: 85px;
	left: 85px;
	background: var(--dgreen);
	font: 10px/10px var(--mono);
	text-transform: uppercase;
	color: var(--white);
	text-decoration: none;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 
	  bottom .6s linear;
  }
  .minip:hover a.plot {
	bottom: 35px;
	transition: 
	  bottom .6s linear;
  }











// $base-duration: 500ms;

// // Colors
// $color-1: #2c3e50;
// $color-2: #1abc9c;
// $color-3: #2ecc71;

// // Breakpoints
// $sm: new-breakpoint(min-width 320px);
// $med: new-breakpoint(min-width 768px);
// $lg: new-breakpoint(min-width 1024px);

// figure {
// 	position: relative;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	width: 20em;
// 	min-width: 20em;
// 	height:55vh;
// 	border-radius: 10px;
// 	box-shadow: 
// 		0 1px 3px rgba(2, 255, 221, 0.849), 
// 		0 1px 2px rgba(111, 0, 175, 0.89);
// 	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
// 	overflow: hidden;
// 	&:hover {
// 		box-shadow: 
// 			0 14px 28px rgba(0,0,0,0.25), 
// 			0 10px 10px rgba(0,0,0,0.22);
// 		h1 {
// 			opacity: 0;
// 			transform: scale(0.7);
// 		}
// 		img {
// 			transform: scale(1.25);
// 		}
// 		figcaption {
// 			bottom: 0;
// 		}
// 	}
// 	h1 {
// 		position: absolute;
// 		top: 50px;
// 		left: 20px;
// 		margin: 0;
// 		padding: 0;
// 		color: white;
// 		font-size: 60px;
// 		font-weight: 100;
// 		line-height: 1;
// 		opacity: 1;
// 		transform: scale(1);
// 		transition: 0.25s ease;
// 		z-index: 999;
// 	}
// 	img {
// 		height: 100%;
// 		transition: 0.25s;
// 	}
// 	figcaption {
// 		position: absolute;
// 		bottom: -34%;
// 		left: 0;
// 		width: 100%;
// 		margin: 0;
// 		padding: 30px;
// 		background-color: rgba(black,0.85);
// 		box-shadow: 0 0 20px rgba(black,0.4);
// 		color: white;
// 		line-height: 1;
// 		transition: 0.25s;
// 		h3 {
// 			margin: 0 0 20px;
// 			padding: 0;
// 		}
// 		p {
// 			font-size: 14px;
// 			line-height: 1.75;
// 		}
// 		button {
// 			position: relative;
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			margin: 10px 0 0;
// 			padding: 10px 30px;
// 			background-color: $color-2;
// 			border: none;
// 			border-radius: 5px;
// 			color: white;
// 			font-size: 14px;
// 			cursor: pointer;
// 		}
// 	}
// }
