.imageContainer {
    width: 120px;
        height: 120px;
        background-color: #575555;
        opacity: 0.67;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: relative;
}

input[type=file] {
    display: none;
    
}

label {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}